# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint 

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
file="../Part_I_WeatherPy/Output/city_data.csv"
city_weather=pd.read_csv(file)
city_weather.head()
city_weather.count()

City ID       571
City          571
Country       567
Lat           571
Lng           571
Humidity      571
Temp          571
Max Temp      571
Wind Speed    571
Cloudiness    571
Date          571
dtype: int64

In [3]:
city_locations=city_weather[['Lat','Lng']]
weights=city_weather['Humidity']
weights

0      72
1      94
2      61
3      93
4      51
       ..
566    88
567    48
568    92
569    80
570    73
Name: Humidity, Length: 571, dtype: int64

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [23]:
fig=gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(city_locations,weights=weights, intensity=100))
fig

TypeError: heatmap_layer() got an unexpected keyword argument 'intensity'

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
city_weather.dropna(how='any',inplace=True)
city_weather.count()

City ID       567
City          567
Country       567
Lat           567
Lng           567
Humidity      567
Temp          567
Max Temp      567
Wind Speed    567
Cloudiness    567
Date          567
dtype: int64

In [7]:
#Ideal weather condition for vacation
#1.Humidity(%) b/t 30 and 50
#2.Max temp(F) b/t 65 and 75 
#3.Wind speed(mph) b/t 4 and 8

hotel_df=city_weather.loc[(city_weather["Humidity"]>35) & (city_weather["Humidity"]<55) 
                                   & (city_weather["Max Temp"]<75) & (city_weather["Max Temp"]>65) 
                                   & (city_weather["Wind Speed"]>5) & (city_weather["Wind Speed"]<7)]

hotel_df.reset_index(inplace=True)
hotel_df.drop("index", axis=1, inplace=True)
hotel_df
hotel_df.to_csv('Output/hotel.csv')

C:\Users\JJ\anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [8]:
hotel_df

,City ID,City,Country,Lat,Lng,Humidity,Temp,Max Temp,Wind Speed,Cloudiness,Date
0,193,Bilibino,RU,68.05,166.44,37,69.10,69.10,5.10,0,1592509148
1,284,Vanderhoof,CA,54.02,-124.02,38,73.33,73.33,5.48,100,1592509453
2,316,Burns Lake,CA,54.23,-125.75,43,69.21,69.21,5.10,100,1592509457
3,320,College,US,64.86,-147.80,42,69.15,71.01,5.82,40,1592509132
4,461,Yuancheng,CN,36.65,107.79,54,68.41,68.41,5.26,99,1592509474
5,501,Cranbrook,CA,49.50,-115.77,42,68.00,68.00,5.82,75,1592509451

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [9]:
# adding column to df
hotel_df["Hotel Name"]=""
#location=hotel_df[['Lat','Lng']]

C:\Users\JJ\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [10]:
hotel_df

,City ID,City,Country,Lat,Lng,Humidity,Temp,Max Temp,Wind Speed,Cloudiness,Date,Hotel Name
0,193,Bilibino,RU,68.05,166.44,37,69.10,69.10,5.10,0,1592509148,
1,284,Vanderhoof,CA,54.02,-124.02,38,73.33,73.33,5.48,100,1592509453,
2,316,Burns Lake,CA,54.23,-125.75,43,69.21,69.21,5.10,100,1592509457,
3,320,College,US,64.86,-147.80,42,69.15,71.01,5.82,40,1592509132,
4,461,Yuancheng,CN,36.65,107.79,54,68.41,68.41,5.26,99,1592509474,
5,501,Cranbrook,CA,49.50,-115.77,42,68.00,68.00,5.82,75,1592509451,

In [11]:
# Google Places API
params = {
    "keyword":"Hotel",
    "type":"Lodging",
    "radius":5000,
    "key":g_key
}

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

for index, col in hotel_df.iterrows():
    #get the coordinates of city for the params "location"
    Lati= col["Lat"]
    Long= col["Lng"]          
    params["location"]=f"{Lati},{Long}"
    city = col["City"]
    print(f"Retrieving results for Index {index}: {city}")
    
    response = requests.get(base_url,params=params).json()
    
    results = response['results']
    
    try:
        print(f"Closest Hotel near '{city}' is '{results[0]['name']}'." )
        hotel_df.loc[index,"Hotel Name"]= results[0]['name']
    
    except (KeyError, IndexError):
        print("Missing field/result... skiping")

Retrieving results for Index 0: Bilibino
Closest Hotel near 'Bilibino' is 'Profilaktoriy Baes'.
Retrieving results for Index 1: Vanderhoof

C:\Users\JJ\anaconda3\lib\site-packages\pandas\core\indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

Closest Hotel near 'Vanderhoof' is 'Hillview Motel'.
Retrieving results for Index 2: Burns Lake
Closest Hotel near 'Burns Lake' is 'Key-oh Lodge'.
Retrieving results for Index 3: College
Closest Hotel near 'College' is 'River's Edge Resort'.
Retrieving results for Index 4: Yuancheng
Missing field/result... skiping
Retrieving results for Index 5: Cranbrook
Closest Hotel near 'Cranbrook' is 'Best Western Cranbrook Hotel'.

In [12]:
hotel_df

,City ID,City,Country,Lat,Lng,Humidity,Temp,Max Temp,Wind Speed,Cloudiness,Date,Hotel Name
0,193,Bilibino,RU,68.05,166.44,37,69.10,69.10,5.10,0,1592509148,Profilaktoriy Baes
1,284,Vanderhoof,CA,54.02,-124.02,38,73.33,73.33,5.48,100,1592509453,Hillview Motel
2,316,Burns Lake,CA,54.23,-125.75,43,69.21,69.21,5.10,100,1592509457,Key-oh Lodge
3,320,College,US,64.86,-147.80,42,69.15,71.01,5.82,40,1592509132,River's Edge Resort
4,461,Yuancheng,CN,36.65,107.79,54,68.41,68.41,5.26,99,1592509474,
5,501,Cranbrook,CA,49.50,-115.77,42,68.00,68.00,5.82,75,1592509451,Best Western Cranbrook Hotel

In [19]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [20]:
locations

     Lat     Lng
0  68.05  166.44
1  54.02 -124.02
2  54.23 -125.75
3  64.86 -147.80
4  36.65  107.79
5  49.50 -115.77

In [22]:
# Add marker layer ontop of heat map
#h_info=gmaps.


markers = gmaps.marker_layer(locations)
marker_layer=gmaps.marker_layer(locations,info_box_content=hotel_info)


fig.add_layer(markers) 
fig.add_layer(marker_layer) 
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))